# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Media and static files
/media
/staticfiles

# Virtual environment
env/
venv/
ENV/
.venv/
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db